@font-face{
    font-family :"NanumMyeongjo-Bold";
    src: url("assets/fonts/Namum_Myeongjo/NanumMyeongjo-Bold.ttf");
}

@font-face{
    font-family :"Lora-Bold";
    src: url("assets/fonts/Lora/Lora-Bold.ttf");
}

@font-face{
    font-family :"LibreBaskerville-Bold";
    src: url("assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}

@font-face{
    font-family :"Roboto-Medium";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face{
    font-family :"Roboto-Bold";
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
}

/***********************************HEADER********************************************/

header{
    background-image: url(./assets/img/annie-spratt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    font-size: 25px; 
    font-family :"Roboto-Bold";
    
}


.title-header{
    font-family :"LibreBaskerville-Bold";
    color: #fff;
    padding-top: 52px;
    padding-left: 25px;
    padding-bottom: 100px;
    margin-bottom: 400px;
    font-size: 30px; 
}

.defis_perso, .defis_pro{
   font-family :"Roboto-Medium"; 
   color: #2D6945;
}
.text_defis{
   font-family :"Roboto-Medium"; 
}

.nav{
    margin-top: 300px;
    font-size: 40px;
   
}


a{
    color: #fff;
    text-decoration :none;
}

a:hover{
    color:#2D6945;
    height: 300px;
    width: 360px;
}


/*******************************FIN HEADER******************************************/


/******************************PROJETS RECENTS************************************/

.title_projects{
    margin-top: 100px; 
    margin-bottom: 80px;
    font-size: 40px;
    color :#2D6945;
}


.presentation_projets{
   padding-bottom: 80px; 
}

.img-projet1, .img-projet2, .img-projet3, .img-projet4{
    height: 300px; 
    padding-bottom: 25px;
    
}
img:hover{
    color: aqua;
}

.deux{
    margin-bottom: 150px;
    padding: 0px;
}



/*************************************BLOG/ARTICLES*************************************/

.blog{
    background-image: url(./assets/img/background-blog.png);

    background-repeat: no-repeat;
    background-size: cover;
    
    padding-top: 80px;
    padding-bottom: 80px;
}

#Blog{
    color: #2D6945;
}
.blog-title{
    
    margin-bottom: 80px;
}

.card{
    background-color: #2D6945;
    border: none;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px; 
}

.card-title{
    color: #F4B58B;

} 


.card-block{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/************************************A PROPOS*******************************************/

.apropos_title{
    color: #2D6945;
    padding-bottom: 80px;
    padding-top: 80px;
}

.portrait{
    height: 400px; 
    margin-top 50px; 
    margin-bottom : 100px; 
}

.text_apropos{
  padding-left: 50px;
    padding-right: 50px;

}

/************************************Contacts ***********************************************/
.contacts_container{
    background-image: url(assets/img/cafe.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts_title{
    padding-top: 80px;
    padding-bottom: 50px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control{
    margin-bottom: 20px;
    padding-bottom: 20px;
    opacity: 0.5;
    border: 4px solid #fff;
}

.button{
    
    color: #fff;
    background-color: #2D6945;
    margin-top: 40px;
    margin-bottom: 100px;
    border-color: transparent;
}


/************************************FOOTER**********************************************/

footer{
    background-color: #2D6945;
    color: #fff;
    font-family: "Roboto-Medium";
    padding-top: 25px;
    padding-bottom: 25px;
}

.mentions:hover{
    color:#F4B58B;
    text-decoration: none;  
}

.liens-rsx:hover{
    color:#F4B58B;
    text-decoration: none;
}

/********************************PAGE MENTIONS LEGALES ET CREDITS**********************/

.body{
     background-color: #0CA59D;
}
.page_mentions{
    background-color: #0CA59D;
    color : #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mentionsLegales{
    padding-bottom: 50px; 
    padding-top: 50px;
}

.photos, .dessin{
    font-family :"Roboto-Medium";
    padding-top: 50px;
    padding-bottom: 50px;
}

.credits{
    padding-top: 50px;
}

.acs:hover{
    color: #fff;
}

/*****************************************RESPONSIVE**********************************************/


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    
    .title-header{
        font-size: 40px;
        padding-top: 70px;
    }
    
    .nav{
        margin-top : 0px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        font-size: 12px;
        
    }
    .nav-link{
        padding-top:0px;
        padding-bottom: 0px;
        padding-left: 0px; 
        padding-right:10px;
    }
    
    .presentation_projets{
       padding-bottom: 10px; 
        }
    
    .title_projects{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size:30px ;
    }
    
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
    
    .title-header{
        font-size: 40px;
      
        padding-top: 100px;
       
    }
    
    .nav{
        margin-top : 0px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        font-size: 20px;
        
    }
    .presentation_projets{
       padding-bottom: 20px; 
        }
    
    .img-projet1, .img-projet2, .img-projet3, .img-projet4{
    height: 300px; 
    padding-bottom: 10px;
        
        }
    
    .title_projects{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size:30px ;
    }
    
    
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
    
    .nav{
        margin-top : 100px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        font-size: 30px;
}
     .title_projects{
        margin-top: 40px;
        margin-bottom: 20px;
        padding-top: 0px;
        font-size:30px ;
    }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
}


